name: MyST Deploy to Netlify (staging)

on:
  workflow_dispatch:

permissions:
  contents: write

env:
  BASE_URL: /
  GALLERY_URL:  https://testforstaging.netlify.app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install dependencies
        run: |
          pip install pyyaml nbformat

      - name: Sync notebooks from Lab + external cookbooks
        run: python scripts/clone_sync_repos.py

      - name: Generate gallery markdown files
        run: python scripts/generate_gallery_md.py

      - name: Generate keywords markdown files
        run: python scripts/gallery_keywords.py

      - name: Generate Buttons in index file
        run: python scripts/indexbutton.py

      - name: Generate myst.yml and TOC
        run: python scripts/build_myst_yml.py

      - name: Build MyST site
        run: npm install -g mystmd && myst build --html

      - name: Install Netlify CLI
        run: npm install -g netlify-cli

      - name: Deploy to Netlify
        run: netlify deploy --prod --dir=_build/html
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      - name: Check built files
        run: |
         echo "Files in _build/html:"
         ls -R _build/html
